.board-conatiner {
  grid-column-start: 1;
  grid-column-end: 3;
}

.board {
  /* border: 10px solid rgb(9, 10, 10); */
  background: #264653;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  font-size: 40px;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
