.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  margin: 8px 16px;
  margin-right: 20px;
}

/* .game-hist {
  padding: 16px;
} 
className="game-hist"*/

.info-wrapper h3 {
  font-size: 18px;
  margin-bottom: 20px;
}
.work {
  color: white;
  height: 100px;
}
