.suqares-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.squares {
  background: chocolate;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 160px;
  height: 160px;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
  cursor: pointer;
  color: rgb(19, 10, 19);
  border: none;
  outline: none;
  border-left: 31px;
  border-right: 31px;
  border-top: 30px;
  border-bottom: 30px;
}
.squares :focus {
  outline: none;
}

.style {
  background: yellow;
  border: 1px solid gray;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 80px;
  cursor: pointer;
}
