* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #264653;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 140vh;
  padding: 32px;
}
.app-title {
  margin: 50px;
  font-size: 50px;
  text-align: center;
}
